/*======= Overall Content Layout ========================*/
.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
 }
 
 /*======== Logo ========================================*/
 #logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
 }

 /*======== Main Body Global Properties ===========================*/
 * {
    box-sizing: border-box;
   }
html, body {
    height: 100%;
    margin:0;
}
 
 body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url('../images/dust_scratches.png');
    color: #777777;
    font-size: 18px;
    line-height: 34px;
 }
 /*============= Header ==================================*/
 #headerhead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    left: 0;
    top: 0;
    right:0;
}

/*=============== Main Content Section Properties =======================*/
 #main-content {
    padding-top: 130px;
 }
.main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 100px;
    background: #ffffff;
    border: 1px solid #dddddd;
 }
 
  
 
 /*========= Navigation Properties ==========================*/
 nav {
    float: right;
    margin-top: 25px;
 }
   
 nav a {
     display: inline;
     color: #666666;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     border-left:1px #cccccc solid;
 }
 
 nav a:first-child {
    border-left: 0 none;
  }
 nav a:hover {
     background-color: #4aaaa5;
 }
 
 .active{
     background-color: #cccccc;
 }
  nav a:focus {
    background-color: #666666;
 }
 /*========= Links With In Body Content Properties ==============================*/
 .links:hover {
    color: #777777;
    text-decoration:underline;
 }
 .links { 
    text-decoration: none;
    color: #4aaaa5;
    font-size: bold;
 }
 /*========= Heading Tags Properties =======================*/
 h1 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-weight: bold;
    color: #4aaaa5;
    padding-bottom:20px;
    border-bottom: 2px solid #dddddd;
    font-size: 30px;
    line-height: 49px;
    margin-bottom: 20px;
 }

 h2 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-weight: bold;
    color: #4aaaa5;
    font: 22px;
    margin-bottom: 20px;
 }

 h3 {
     color: #4aaaa5;
     font-weight: bold;
     font-family: 'Georgia', Times, Times New Roman, serif;
     font: 22px;
     margin-bottom: 20px;
 }
 
 h4 {
     color: #4aaaa5;
     font-weight: bold;
     font-family: 'Georgia', Times, Times New Roman, serif;
     font: 22px;
     margin-bottom: 20px;
 }

 h5 {
     color: #4aaaa5;
     font-weight: bold;
     font-family: 'Georgia', Times, Times New Roman, serif;
     font: 22px;
     margin-bottom: 20px;
 }
 
 /*========== Paragraph Tags Properties ====================*/
 p {
    margin-bottom: 20px;
    font-size: 14px;
 }

 p:last-child  {
    margin-bottom: 0px;
}
 
 /*======== Content Images Properties ===============================*/
 .content-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
  
 /*======== Footer Properties ==============================*/
 .footer{
    position: fixed;
    background:  #666666; 
    border-top: 5px solid #4aaaa5; 
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding: 30px 0px;
    width:100%;
    height: 50px;
    left:0;
    bottom: 0;
}
.wrapper {
    height: auto;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -105px;
  }
  
  .footer, .push {
    height: 50px;
  }

/*======== Contact Form Properties ========================*/
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;  /* font-size */
    border: 2px solid #dddddd; /* border */
    border-radius: 4px; /* Rounded borders */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  textarea {
    height: 100px;
  }
  
  
/*== Style the submit button =============================*/
input[type=submit] {
    background: #4aaaa5;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button============*/
input[type=submit]:hover {
    background-color: #777777;
}

/*============ Portfolio Page Styling ======================*/
.banner {
    position: relative;
    float: left;
    width: 200px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .banner:nth-child(even) {
    margin-right: 40px;
  }
  .banner:nth-child(odd) {
    margin-right: 40px;
  }
  
  .banner img {
    width: 200px;
    height: 200px;
    border: 5px solid #4aaaa5;
  }
  
  .banner h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
.banner:hover img {
    border: 5px solid #666666;
}
  


/*============= Media Queries ================*/
@media only screen and (max-width: 1239px) 
{
    html, body {
        width: 100%;
        margin:0 auto;
       } 
   
    .main-section{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        padding: 20px;
    } 
   
}


@media only screen and (max-width: 980px) 
{
    html, body {
        width: 100%;
        margin:0 auto;
       } 
   
    .main-section{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        padding: 20px;
    } 
 
}


@media only screen and (max-width: 768px) 
{
    html, body {
        width: 100%;
        margin:0 auto;
       } 
   
    .main-section{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        padding: 20px;;
    } 



}


@media only screen and (max-width: 640px) 
{
    html, body {
        width: 100%;
        margin:0 auto;
       } 
    nav {
        float: left;
        width: 100%;
        text-align: center;
    } 
    #logo {
        width: 100%;
    }
    .main-section{
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        padding: 20px;;
    } 
    
}
@media only screen and (max-width: 425px) 
{
    html, body {
        width: 100%;
      }

    #logo {
        width: 100%;
      }

    nav {
        float: left;
        width: 100%;
        text-align: center;
     
       }  
    .content-image {
        width: 100px;;
    }
    .main-section{
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        padding: 20px;;
    }
}






 
 
 
 
 
 
 




 
 
 
 
 
 
 
 



 
 





 
 
 
 
 
 
 




 
 
 
 
 
 
 
 



 
 
 
 
 
 
 




 
 
 
 
 
 
 
 